<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Change Password Here</h1>
    <Center>
        <form action="/changepassword" method="post">
            Enter Old Password <input type="password" name="old" required placeholder="Enter old Password"><br><br>
            Enter New Password <input type="password" name="new" required placeholder="Enter New Password"><br><br>
            Enter Confirm Password <input type="password" name="conf" required placeholder="Enter Confirm password"><br><br>
            <button>Change Password</button>
        </form>
        <% 
             if(message)
             {%>
                  <h1><%=message%></h1>
             <%}

        %>
    </Center>
</body>
</html>